.app {
    width: 95vw;
    height: 94vh;
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 3vh 2.5vw;
}

.app > div:nth-child(1) {
    background-color: #1e2127;
    width: 47.5vw;
    height: 94vh;
    border-radius: 15px;
}

.app > .editor > textarea {
    background-color: #1e2127;
    width: calc(45vw - 20px);
    height: calc(80vh - 20px);
    border-radius: 15px;
    resize: none;
    outline: none;
    border: none;
    padding: 10px;
    color: #abb2bf;
}